<div class="card meetings cf" style="position:relative">

  <div class="textintro">
    <h1>Add your Diary Entry</h1>
    <img src="images/icons/icon_youtube.png" style="position:absolute;top:20px;right:110px;width:50px;cursor:pointer" ng-click="video =!video">
    <img src="images/icons/icon_addimage.ico" style="position:absolute;top:18px;right:45px;width:50px;cursor:pointer" ng-click="imageurl = !imageurl">
    <br>
  </div>
  <form class="formgroup addmeeting cf" name="myForm" ng-submit="addEntry()" novalidate>

    <div class="inputwrapper">
      <input type="text" name="entryheading" placeholder="Entry Heading" ng-model="entryheading" ng-required="true">
      <textarea style="font-family:Arial" rows="5" coloums="100" type="text" name="entrydetails"
      placeholder="Type in your entry details" ng-model="entrydetails" ng-required="true">
      </textarea>
      <input type="url" name="imageurl" placeholder="add image url" ng-model="entryimage" ng-show="imageurl">
      <input type="text" name="videoid" placeholder="add youtube video id" ng-model="videoid" ng-show="video">
      <button type="submit" class="btn" ng-disabled="myForm.$invalid" ng-click="hideimage()">Add Entry</button>
    </div>
  </form>
</div><!-- meetings cf -->
<br>
<br>

<div class="card cf searchbox" ng-show="numentries">
  <h1 align="center" style="margin-bottom:0px;position:relative">Your Entries&nbsp<span ng-show="numentries" class="badge">{{ numentries }}</span></h1>
  <br>
  <input type="text" ng-model="query" placeholder="search" style="background-image:url(images/icons/icon_find.png);background-repeat:no-repeat;background-position:98% 50%">
  <br>
  <br>
</div>  
<br>
<br>

<div class="entrylist">
  
  <div class="meeting card cf" ng-repeat="(key, entry) in entries | filter:query | orderBy:'-date'" style="margin-bottom:10px;position:relative">

    <button class="btn btn-edit tooltip"  style="position:absolute;top:8px;right:63px;" ng-click="edit = !edit" ng-disabled="edit">
      <span>Edit entry</span>
    </button>
    <button class="btn btn-delete tooltip" ng-click="deleteEntry(key)" style="position:absolute;top:8px;right:8px;">
      <span>Delete entry</span>
    </button>
    <p style="font-size:20px;position:absolute;top:8px;left:8px;">{{entry.date |date}}</p>
    <p style="font-size:15px;position:absolute;top:30px;left:8px;">{{entry.date |date : 'shortTime'}}</p>
    <h2 class="text underlined">{{entry.heading}}</h2><br>
    <p style= "font-size:20px" class="text" ng-hide="edit">{{entry.details}}</p>
    <br>
    <img style="max-width:640px;max-height:360px" ng-src="{{entry.image}}">
    <iframe width="640px" height="360px" ng-src="{{entry.videourl | trusted}}" ng-show="entry.videourl"></iframe>
    <textarea rows="5" coloums="100" class="edit" ng-show="edit" ng-model="entry.details" ng-change="entries.$save(entry)">
    </textarea>
    <input class="edit" placeholder="add image url" ng-show="edit" ng-model="entry.image" ng-change="entries.$save(entry)">
    <button ng-show="edit" type="submit" class="btn" ng-click="edit = !edit">Save Entry</button>
  </div>
</div>
